<div class="center">
  <h3>ついわく を退会します。</h3>
  <h5>また気が向いたらご登録ください。Thank you(^_^)!!</h5>
</div>

<p class="center" id="gohome"><%= link_to "退会する", user_registration_path, method: :delete, data: { confirm: "You sure?" }, class: "btn btn-info btn-lg" %></p>