<% provide(:title, "よくある質問") %>
<h5>いやいや、質問なんてまだなんもねーっす！泣</h5>

<%if user_signed_in? %>
<p><%= link_to "マイページへおもどりください", root_path %></p>
<% else%>
<p><%= link_to "ホームへおもどりください", root_path %></p>
<% end %>