<% provide(:title, "ホーム") %> 

<% if user_signed_in? %>
  <!--ログインしているときはツイートの入力フォームが表示されている-->
  <%= render 'shared/login_body' %>
<% else %>
  <!--ログインしていないとき-->
  <div class="sign-up">
    <div class="message">
      <h3 id="logo-font">ついわく<span> とは ...</span></h3>
      <div class="center"><%= image_tag 'homeimage.png', id:"Description"%></div>
    </div>
    <%= link_to "登録/ログイン", new_user_session_path, class: "btn btn-info btn-lg btn-block" %>
  </div>
<% end %>

