<% provide(:title, "ツイート完了") %>
<div class="center"><%= image_tag @tweet.picture.url %></div>

<div class="center" id="gohome">
<%= link_to @twlink, target: :_blank do %>
  <i class="fab fa-twitter fa-2x"></i>
<% end %>
</div>
<p class="center" id="gohome"><%= link_to "ホームへもどる", root_path %></p>
