<% provide(:title, @user.name) %>

<ul class="">
  <% @tweets.each do |tweet| %>
    <li>
      <div class=""><%= image_tag tweet.picture.url %></div>
      Posted <%= time_ago_in_words(tweet.created_at) %> ago.
    </li>
  <% end %>
</ul>

<%= link_to "delete", user_registration_path, method: :delete, data: { confirm: "You sure?" } %>
  