<div class="navbar-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#gnavi">
    <!--音声ブラウザにメニューがあることを伝えている-->
    <span class="sr-only">メニュー</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <%= link_to "ついわく", root_path, class: "navbar-brand", id: "logo" %>
</div>  